In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

,match_id,game_duration,game_version,win_0,ban_0_1,ban_0_2,ban_0_3,ban_0_4,ban_0_5,objectives_0_baron_first,...,participant_9_neutralMinionsKilled,participant_9_totalMinionsKilled,participant_9_visionScore,participant_9_championId,participant_9_goldEarned,participant_9_teamPosition,ban_0_8,ban_0_10,ban_1_2,ban_1_4
0,EUW1_6929994252,1677,14.9.580.2108,False,235.0,53.0,222.0,114.0,429.0,False,...,1,29,79,43,8134,UTILITY,NaN,NaN,NaN,NaN
1,EUW1_6929640879,1749,14.9.580.2108,True,72.0,555.0,161.0,61.0,163.0,True,...,0,27,79,267,7936,UTILITY,NaN,NaN,NaN,NaN
2,EUW1_6929622738,911,14.9.580.2108,False,201.0,222.0,-1.0,72.0,555.0,False,...,0,16,27,161,4252,UTILITY,NaN,NaN,NaN,NaN
3,EUW1_6928630994,1582,14.9.580.2108,False,-1.0,72.0,163.0,526.0,555.0,False,...,0,39,56,235,8843,UTILITY,NaN,NaN,NaN,NaN
4,EUW1_6927348867,1567,14.9.580.2108,False,-1.0,-1.0,246.0,555.0,72.0,False,...,0,25,77,497,6138,UTILITY,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,EUW1_6922918225,1997,14.8.578.3867,True,72.0,24.0,29.0,7.0,107.0,False,...,0,64,78,164,9518,UTILITY,NaN,NaN,NaN,NaN
2095,EUW1_6922875235,1112,14.8.578.3867,True,-1.0,29.0,163.0,72.0,555.0,False,...,0,13,34,40,4896,UTILITY,NaN,NaN,NaN,NaN
2096,EUW1_6921573516,1101,14.8.578.3867,True,221.0,234.0,-1.0,200.0,103.0,False,...,0,25,28,117,4767,UTILITY,NaN,NaN,NaN,NaN
2097,EUW1_6921299976,964,14.8.578.3867,False,555.0,72.0,107.0,119.0,222.0,False,...,0,22,32,161,6291,UTILITY,NaN,NaN,NaN,NaN
2098,EUW1_6923607313,2193,14.9.580.2108,True,163.0,68.0,84.0,119.0,246.0,True,...,4,43,77,143,11803,UTILITY,NaN,NaN,NaN,NaN

In [38]:
df = pd.read_json("clean_matches.jsonl", lines=True)

df

,match_id,game_duration,game_version,win_0,ban_0_1,ban_0_2,ban_0_3,ban_0_4,ban_0_5,objectives_0_baron_first,...,participant_9_neutralMinionsKilled,participant_9_totalMinionsKilled,participant_9_visionScore,participant_9_championId,participant_9_goldEarned,participant_9_teamPosition,ban_0_8,ban_0_10,ban_1_2,ban_1_4
0,EUW1_6929994252,1677,14.9.580.2108,False,235.0,53.0,222.0,114.0,429.0,False,...,1,29,79,43,8134,UTILITY,NaN,NaN,NaN,NaN
1,EUW1_6929640879,1749,14.9.580.2108,True,72.0,555.0,161.0,61.0,163.0,True,...,0,27,79,267,7936,UTILITY,NaN,NaN,NaN,NaN
2,EUW1_6929622738,911,14.9.580.2108,False,201.0,222.0,-1.0,72.0,555.0,False,...,0,16,27,161,4252,UTILITY,NaN,NaN,NaN,NaN
3,EUW1_6928630994,1582,14.9.580.2108,False,-1.0,72.0,163.0,526.0,555.0,False,...,0,39,56,235,8843,UTILITY,NaN,NaN,NaN,NaN
4,EUW1_6927348867,1567,14.9.580.2108,False,-1.0,-1.0,246.0,555.0,72.0,False,...,0,25,77,497,6138,UTILITY,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,EUW1_6922918225,1997,14.8.578.3867,True,72.0,24.0,29.0,7.0,107.0,False,...,0,64,78,164,9518,UTILITY,NaN,NaN,NaN,NaN
2095,EUW1_6922875235,1112,14.8.578.3867,True,-1.0,29.0,163.0,72.0,555.0,False,...,0,13,34,40,4896,UTILITY,NaN,NaN,NaN,NaN
2096,EUW1_6921573516,1101,14.8.578.3867,True,221.0,234.0,-1.0,200.0,103.0,False,...,0,25,28,117,4767,UTILITY,NaN,NaN,NaN,NaN
2097,EUW1_6921299976,964,14.8.578.3867,False,555.0,72.0,107.0,119.0,222.0,False,...,0,22,32,161,6291,UTILITY,NaN,NaN,NaN,NaN
2098,EUW1_6923607313,2193,14.9.580.2108,True,163.0,68.0,84.0,119.0,246.0,True,...,4,43,77,143,11803,UTILITY,NaN,NaN,NaN,NaN

In [37]:
def prepare_dataset(df, features):
    df = df[["win_0", *features]]
    X = df[features]
    y = df["win_0"]

    return train_test_split(X, y, test_size=0.2, random_state=42)

def fit_and_predict(X_train, X_test, y_train, y_test):
    model = RandomForestClassifier()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    print(classification_report(y_test, y_pred, digits=4))
    print()
    return y_pred

## Prediction with objective variables

Feature selection and train/test split

In [39]:
features = [column for column in df.columns if column.startswith("objective")]

X_train, X_test, y_train, y_test = prepare_dataset(df, features)

Model fitting and prediction

In [40]:
y_pred = fit_and_predict(X_train, X_test, y_train, y_test)

              precision    recall  f1-score   support

       False     0.9952    0.9766    0.9858       214
        True     0.9762    0.9951    0.9856       206

    accuracy                         0.9857       420
   macro avg     0.9857    0.9859    0.9857       420
weighted avg     0.9859    0.9857    0.9857       420